@font-face {
  font-family: "Futura-bold";
  src: url("../fonts/FUEB.ttf");
}
@font-face {
  font-family: "Futura-light";
  src: url("../fonts/Futura-light.woff");
}
@font-face {
  font-family: "Futura-italic";
  src: url("../fonts/Futura-italic.woff");
}
@font-face {
  font-family: "Futura-normal";
  src: url("../fonts/Futura-normal.woff");
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Futura-normal";
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #eee;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: rgb(121, 180, 204);
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.nav__list {
  list-style-type: none;
}

.nav__list .list__item {
  display: inline-block;
  padding: 20px 10px;
}

.logo {
  margin-right: 80rem;
  width: 20rem;
}

.menu {
  display: none;
}

.menu-line {
  width: 53px;
  height: 9px;
  background-color: #fff;
  margin-bottom: 10px;
}

.list__item:hover {
  display: inline-block;
  background-color: #eda2ac;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 1rem;
  padding: 1rem;
}

.list__item {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  z-index: 1000;
  border-radius: 1rem;
  transition: 0.5s;
}

.active {
  display: inline-block;
  background-color: #eda2ac;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  z-index: 1000;
  border-radius: 1rem;
  padding: 1rem;
}

.blob__shape {
  width: 65%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -358px;
  left: -222px;
}

.blob__shape-1 {
  width: 45%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -190px;
  left: 1040px;
  z-index: -1;
}

.blob__img {
  z-index: 1;
  width: 40%;
  position: absolute;
  top: 176px;
  left: 210px;
}

.section__title {
  position: absolute;
  top: 176px;
  left: 1067px;
  font-size: 7rem;
  font-family: Futura-bold;
  color: #2c2c2c;
}

.section__p {
  position: absolute;
  top: 289px;
  left: 1111px;
  color: #2c2c2c;
  font-size: 2.5rem;
  width: 45ch;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.section-2 h1 {
  font-size: 14rem;
  color: #2c2c2c;
  font-family: "Futura-bold";
  text-transform: uppercase;
  position: absolute;
  top: 999px;
}

.cards__list {
  gap: 4rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__item {
  position: relative;
  width: 40rem;
  height: 19rem;
  background: linear-gradient(35deg, rgba(234, 152, 163, 0.431372549) 0%, rgba(231, 56, 79, 0.2549019608) 100%);
  border-radius: 2rem;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.card__item:hover {
  height: 45rem;
}

.card__img {
  position: absolute;
  left: 50%;
  top: -5rem;
  transform: translateX(-50%);
  width: 15rem;
  height: 15rem;
  background: black;
  border-radius: 2rem;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: 0.5s;
}

.card__item:hover .card__img {
  width: 25rem;
  height: 25rem;
}

.card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__item .card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card__item .card__content .card__details {
  padding: 4rem;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(16rem);
}

.card__item:hover .card__content .card__details {
  transform: translateY(0rem);
}

.card__item .card__content .card__details h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  line-height: 2rem;
  font-family: "Futura-normal";
}

.card__item .card__content .card__details span {
  font-size: 1rem;
  font-family: "Futura-normal";
  font-weight: 100;
  opacity: 0.5;
}

.card__story {
  color: #fff;
  font-size: 1rem;
}

.login__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-family: "Futura-bold";
  text-transform: uppercase;
  font-weight: 100;
}

.login__input {
  margin-bottom: 2rem;
  padding: 0.4rem 4rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 0.4rem solid rgb(121, 180, 204);
}

input:focus {
  outline: none;
  transition: 0.5s;
  background-color: rgba(121, 180, 204, 0.631);
  color: #fff;
}

.login__button {
  background: rgb(121, 180, 204);
  color: #fff;
  padding: 0.4rem 4rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 0.4rem solid rgb(121, 180, 204);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.login__button:hover {
  background-color: rgba(121, 180, 204, 0.631);
  border: 0.4rem solid rgb(121, 180, 204);
}

.login__link {
  font-family: "Futura-bold";
  text-decoration: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #2c2c2c;
  transition: 0.5s;
}

.login__link:hover {
  color: rgb(121, 180, 204);
}

@media screen and (max-width: 1068px) {
  .blog-post {
    max-width: 80rem;
  }
  .blog-post-img {
    min-width: 30rem;
    max-width: 30rem;
  }
  .container h2 {
    margin-top: 120px;
    margin-left: 275px;
  }
}
@media screen and (max-width: 375px) {
  .blog-post {
    max-width: 70rem;
  }
  .container h2 {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: #79b4cc;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 768px) {
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }
  .blog-post-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -1rem);
  }
  .container {
    margin-top: auto;
  }
}
@media screen and (max-width: 375px) {
  .navbar {
    flex-direction: column;
    flex-direction: column;
    margin-top: 10rem;
    width: 100%;
  }
  .menu {
    display: block;
    position: absolute;
    left: 293px;
    top: 43px;
  }
  .nav__list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin-right: 2.5rem;
    padding-top: 0px;
    display: none;
  }
  .activelist {
    display: block;
  }
  .nav__list .list__item {
    display: block;
  }
  .logo {
    position: absolute;
    width: 20rem;
    left: 41px;
    top: 37px;
  }
  .social-ul {
    position: absolute;
    left: 8px;
    top: 2906px;
  }
  .social-ul > li > a {
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    text-align: center;
    line-height: 69px;
    font-size: 35px;
    margin: -1px 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 0.3rem solid #fff;
    z-index: 1;
  }
  .blob__shape {
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13px;
    left: -193px;
  }
  .blob__img {
    z-index: 1;
    width: 80%;
    position: absolute;
    top: 168px;
    left: -27px;
  }
  .artikel__titel {
    font-size: 2rem;
    width: 20ch;
    font-family: "Futura-bold";
    color: #2c2c2c;
    text-shadow: rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
  }
  .artikel__main {
    margin-top: 5rem;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(35deg, rgba(234, 152, 163, 0.431372549) 0%, rgba(231, 56, 79, 0.2549019608) 100%);
    width: 196%;
    height: 20%;
    justify-content: center;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
  }
  .artikel__img {
    align-items: flex-start;
    border-radius: 2rem;
    width: 30rem;
    height: 19rem;
    object-fit: cover;
  }
  .artikel__inhoud {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: "Futura-normal";
    color: #2c2c2c;
  }
}

/*# sourceMappingURL=login.css.map */
