$blue: rgb(121, 180, 204);
$blue-t:rgba(121, 180, 204, 0.631);
$pink: #eda2ac;
$pink-t:rgba(237, 161, 171, 0.631);
$bruin: #834f18;
$bruin-t: rgba(129, 78, 24, 0.631);
$zwart:#2c2c2c;
$background:  #eee;
$white: #fff;

//shadows
$shadowZwart: rgba(0,0,0,0.15);

//gradients
$linear-gradient: linear-gradient(35deg, #ea98a36e 0%, #e7384f41 100%);

$whites: (
    "background": #eee,
    "Fontcolor": #fff,
    "ItemColor": #ECECEC,
);