@font-face {
    font-family: 'Futura-bold';
    src: url("../fonts/FUEB.ttf");
}

@font-face {
    font-family: 'Futura-light';
    src: url("../fonts/Futura-light.woff");
}

@font-face {
    font-family: 'Futura-italic';
    src: url("../fonts/Futura-italic.woff");
}

@font-face {
    font-family: 'Futura-normal';
    src: url("../fonts/Futura-normal.woff");
}