@use 'colors';
@use 'fonts';


footer{
  background-color: colors.$blue;
  padding: 1.25em 0;
  margin-top: 1.25em;
}
.footer__content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 5rem;
}
.footer__title{
    font-family: fonts.$default;
    font-size: 1.2rem;
    color: colors.$white;
    padding: 2rem;
}

.footertext{
    font-size: 1.4rem;
    color: #999;
}
.footer__list{
  list-style: none;
  display: flex;
  gap: 4rem;
}
.footer__button{
  background: colors.$pink;
  border: 0.4rem solid colors.$pink;
  padding: 1rem;
  border-radius: 2rem;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1.5rem;
  color: colors.$white;
  transition: 0.5s;
}
.footer__button:hover{
  background-color: colors.$pink-t;
  border: 0.4rem solid colors.$pink;
}
.footer__socials{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.footer__social{

}
.footer__icon{
  color: map-get($map: colors.$whites, $key:Fontcolor );
  font-size: 3rem;
  transition: 0.5s;
  cursor: pointer;
}
.footer__icon:hover{
  color: colors.$pink;
}