@use 'colors';
@use 'fonts';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Futura-normal';
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: colors.$background;
}

section
{
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}