@use 'colors';
@use 'fonts';


@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }
    .blog-post-img {
        min-width: 30rem;
        max-width: 30rem;
    }
    .container h2 {
        margin-top: 120px;
        margin-left: 275px;
    }
}

@media screen and (max-width: 375px) {
    .blog-post {
        max-width: 70rem;
    }
    .container h2 {
        margin-top: 2rem;
        margin-left: 1rem;
    }

    header {
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        background: #79b4cc;
        box-shadow: 0 1.4rem 8rem rgb(0 0 0 / 20%);
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post-img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -1rem);
    }
    .container {
        margin-top: auto;
    }
}
@media screen and (max-width: 375px){
    #cta {
        background: rgb(121, 180, 204);
        border: 0.4rem solid rgb(121, 180, 204);
        position: absolute;
        padding: 1rem;
        border-radius: 2rem;
        color: inherit;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-size: 1.5rem;
        color: #fff;
        top: 238px;
        left: 204px;
        transition: 0.5s;
    }
    .navbar{
        flex-direction: column;
        flex-direction: column;
        margin-top: 10rem;
        width: 100%;
    }
    .menu {
        display: block;
        position: absolute;
        left: 293px;
        top: 43px;
    }
    .nav__list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        margin-right: 2.5rem;
        padding-top: 0px;
        display: none;
    }
    .activelist{
        display: block;
    }
    .nav__list .list__item{
        display: block;

    }
    .logo {
        position: absolute;
        width: 20rem;
        left: 41px;
        top: 37px;
    }

    .social-ul {
        position: absolute;
        left: 8px;
        top: 2906px;
    }
    .social-ul > li > a {
        width: 7rem;
        height: 7rem;
        background-color: #fff;
        text-align: center;
        line-height: 69px;
        font-size: 35px;
        margin: -1px 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 0.3rem solid #fff;
        z-index: 1;
    }
    .blob__shape {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 34px;
        left: -194px;
    }
    .blob__img {
        z-index: 1;
        width: 54%;
        position: absolute;
        top: 182px;
        left: -16px;
    }
    .blob__shape-1 {
        width: 54%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 97px;
        left: 169px;
        z-index: -1;
        rotate: 361deg;
    }
    .section__title {
        position: absolute;
        top: 165px;
        left: 184px;
        font-size: 1.5rem;
    }
    .section__p {
        position: absolute;
        top: 187px;
        left: 176px;
        font-size: 1rem;
        width: 30ch;
    }
    .artikel__titel {
        font-size: 2rem;
        width: 20ch;
        font-family: "Futura-bold";
        color: #2c2c2c;
        text-shadow: rgba(0, 0, 0,0.15);
        text-transform: uppercase;
    }
    .artikel__main {
        margin-top: 5rem;
        border-radius: 4rem;
        display: flex;
        flex-direction: column;
        background: linear-gradient(35deg, rgba(234, 152, 163, 0.431372549) 0%, rgba(231, 56, 79, 0.2549019608) 100%);
        width: 196%;
        height: 20%;
        justify-content: center;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.15);
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
    }
    .artikel__img {
        align-items: flex-start;
        border-radius: 2rem;
        width: 30rem;
        height: 19rem;
        object-fit: cover;
    }
    .artikel__inhoud {
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-family: "Futura-normal";
        color: #2c2c2c;
    }
    .section-2 h1 {
        font-size: 3rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 4rem;
    }
    .cards__list {
        gap: 10rem;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }
    .card__img {
        position: absolute;
        left: 50%;
        top: -5rem;
        transform: translateX(-50%);
        width: 15rem;
        height: 15rem;
        overflow: hidden;
        transition: 0.5s;
    }   
    .card__item {
        margin-top: 2rem;
        position: relative;
        width: 32rem;
        height: 55rem;
    }
    .card__item .card__content .card__details {
        padding: 4rem;
        text-align: center;
        width: 100%;
        transition: 0.5s;
        transform: translateY(-15.5rem);
    }
    section {
        width: 100%;
        min-height: 48vh;
        padding: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__list {
        list-style: none;
        display: flex;
        gap: 4rem;
        flex-wrap: wrap;
    }
}